.card-container {
  margin: 10px;
  height: 150px;
  min-width: 100px;
  width: 20%;
  background-color: grey;
  border: 6px solid grey;
  border-radius: 25px;
  display: flex;
  transition: all 0.5s ease-in;
  cursor: pointer;
}